@use '@sutils' as *;

.edge {
  @include size(100%);
  margin-bottom: sp(sm5);
}

.main {
  width: 100%;
  @include grid-n(3, sp(sm5));
}

.image {
  height: 10rem;
  @include bg-cover();
  border-radius: radius(r2);
  box-shadow: shadow(s1);
}
