@use '@sutils' as *;

.header {
  @include flexy(column, center, center);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: sp(sm4);
  @include size(100%);
}

.grid_item {
  position: relative;
}
