@use '@sutils' as *;

// Initial splash

.splash {
  @include position(fixed, 0 0 0 0);
  @include size(100vw, 100vh);
  padding: sp(md1) sp(sm6) sp(md7);
  @include gradient-d(co(background, base), co(primary, base));
  color: #fff;
}

.splash_main {
  height: 100%;
  @include flexy(column, center, center);
}

// After splash

.app {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  width: 100%;
}
