@use '@sutils' as *;

:global {
  .button-copy > .svg-inline--fa {
    margin-top: -4px;
  }
}

.edge {
  position: relative;
  @include flexy(column, center, center);
}

.label {
  display: inline-block;
  @include position(absolute, 100% null null 50%);
  transform: translateX(-50%);
  margin-top: 6px;
}

.label_main {
  display: inline-block;
  pointer-events: none;
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 500px;
  box-shadow: shadow(s2);
  font-size: .9rem;
  line-height: 1em;
  text-transform: uppercase;
  color: #000;

  :global {
    animation: zoom-in 250ms;
  }
}
