@use '@sutils' as *;

.edge {
  @include fade('in', 3, 0, both);
  @include size(100%);
}

// Main area

.main {
  visibility: visible;
}

// Layout

// Header

.header {
  visibility: visible;
}

.header_name {
  visibility: visible;
}

.header_subtext {
  visibility: visible;
}

// Images

.images {
  visibility: visible;

  &__loaded {
    visibility: visible;
  }
}

.images_img {
  visibility: visible;
  @include size(5rem);
  object-fit: cover;
}

.images_main {
  visibility: visible;
}

.images_left,
.images_right {
  visibility: visible;
}

.images_left {
  visibility: visible;
}

.images_right {
  visibility: visible;
}
