@use '@sutils' as *;

.edge {
  display: grid;
  grid-template-columns: 15rem auto;
}

.nav {
  @include flexy(column);
  padding: sp(sm4);
  background: co(background, base);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.nav_item {
  text-align: center;
  width: 100%;

  &:not(:first-child) {
    margin-top: sp(sm1);
  }
}

.main {
  height: calc(100vh - #{$header-height_d1} - 5rem);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: sp(md1) 0 sp(md7);
}

.main_center {
  max-width: 50rem;
  margin: 0 auto;
}
