@use '@sutils' as *;

@keyframes fillBar {
  to { transform: scaleX(1); }
}

.edge {
  @include position(absolute, 0 null null 0);
  overflow: hidden;
  @include size(100%, 5px);
  background-color: co(background, base);
}

.bar {
  @include size(100%);
  background-color: co(primary, darker);
  transform: scaleX(0);
  transform-origin: left center;
  animation: fillBar linear forwards;
  will-change: transform;
}
