@use '@sutils' as *;

.view {
  position: relative;
  background-color: co(neutral, n900);
  @include size(100%, 100vh);
}

// Toggle

.modeToggle {
  z-index: z-index(controlFrame);
  @include position(absolute, null 1rem 1rem null);
  opacity: .07;

  &:hover {
    opacity: 1;
  }
}
