@use '@sutils' as *;

.edge {
  @include grid(100vw, sp(md2));
  grid-template-rows: 80% auto;
  @include size(100vw, 100vh);
  padding: sp(md1);
  background-color: #1f1c21;
}

.brand {
  @include flexy(column, center, center);

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

// Quotes

.quotes {
  place-self: center;
  padding-bottom: sp(md1);
}

// Fade in sequence

.brand { @include fade('in', 7, 1, both); }
.quotes { @include fade('in', 7, 5, both); }
