@use '@sutils' as *;

.edge {
  visibility: visible;
}

.loadingBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: sp(sm3);
  width: 100%;
  height: 5rem;
}

.loadingBlock {
  @include flexy(row, center, center);
  background-color: co(neutral, n10);
}
