@mixin flexy($direction: row, $justify: null, $align: null, $gap: null) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex($grow: 1, $shrink: 0, $basis: 100%, $height: null) {
  flex-grow: $grow;
  flex-shrink: $shrink;
  flex-basis: $basis;

  @if $height != null {
    height: $height;
  }
}
