@use '@sutils' as *;

.edge {
  @include fade('in', 3, 0, both);
  @include size(100%);
}

// Main area

.main {
  position: relative;
  z-index: 99;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

// Aside pics

.aside {
  padding: sp(md1) 0;

  &:first-child {
    margin-right: sp(md1);
  }

  &:last-child {
    margin-left: sp(md1);
  }
}

// Control and positioning

.controlToggle {
  z-index: z-index(controlFrame);
  @include position(absolute, null 1rem 1rem null);
  opacity: .07;

  &:hover {
    opacity: 1;
  }
}

.controlFrame {
  z-index: z-index(controlToggle);
  @include position(absolute, 25% 0 25% 0);
  @include size(100%, 50%);
  border-radius: radius(r1);
  background: rgba(0, 0, 0, .85);
  box-shadow: shadow(s5);
}
