/* General variables for overall use */

// default typography
$def-text-family: 'base';
$def-text-weight: 400;
$def-text-size: 1rem;
$def-text-leading: 1em;

// percentages
$div1by3: 33.333333%;
$div2by3: 66.666667%;
$div1by6: 66.666667%;
$div5by6: 83.333333%;

// simple minmax with rem
$min10: minmax(10rem, 1fr);
$min20: minmax(20rem, 1fr);
$min30: minmax(30rem, 1fr);
$min40: minmax(40rem, 1fr);
$min50: minmax(50rem, 1fr);
$min60: minmax(60rem, 1fr);
$min70: minmax(70rem, 1fr);
$min80: minmax(80rem, 1fr);
$min90: minmax(90rem, 1fr);

// simple minmax with percents
$min10p: minmax(10%, 1fr);
$min20p: minmax(20%, 1fr);
$min30p: minmax(30%, 1fr);
$min40p: minmax(40%, 1fr);
$min50p: minmax(50%, 1fr);
$min60p: minmax(60%, 1fr);
$min70p: minmax(70%, 1fr);
$min80p: minmax(80%, 1fr);
$min90p: minmax(90%, 1fr);

// simple minmax with ranges
$minmax1: minmax(20%, 50%);
$minmax2: minmax(40%, 70%);
$minmax3: minmax(60%, 90%);

// timing functions
$ease-in: cubic-bezier(0.4, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.2, 1);
$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
