@use '@sutils' as *;

.edge,
.main,
.main_top,
.main_bottom {
  width: 100%;
  max-width: 100%;
}

.edge {
  display: grid;
  grid-template-columns: calc(100vw - 35rem) 35rem;
  height: 100vh;
  @include fade('in', 3, 0, both);
  @include bg-cover();
}

.main {
  @include flexy(column, end, stretch);
  position: relative;
  height: 100vh;
}

// Wishes on right

.wishes {
  padding: sp(md1);
  background-color: rgba(0, 0, 0, .8);
}

.main_bottom {
  padding: sp(md1);
}
